body {
  margin: 0%;
  padding: 0%;
  text-align: center;
  background-color: bisque;
}

h1 {
  color: rgb(218, 154, 36);
}

.rst-button {
  color: rgb(236, 12, 199);
  background-color: rgb(6, 255, 201);
  border-radius: 15px;
  width: 100px;
  height: 40px;
}

.choice-button {
  height: 100px;
  width: 100px;
  border: none;
  margin: 10px;
  background-color: rgb(135, 137, 238);
  border-radius: 50px;
  cursor: pointer;
}

.choice-image {
  height: 75px;
}

.foot{
  margin-top: 50%;
  padding: 3px;
  background-color: DarkSalmon;
}